<footer class="footer bg-dark py-3 mt-auto">
<div class="container">
    <figure class="text-centre">
        <blockquote class="blockquote text-light">
          <p>&copy;YelpCamp</p>
        </blockquote>
        <figcaption class="blockquote-footer text-blue text-light">
           <cite title="Source Title">Vivek Jain</cite>
        </figcaption>
      </figure>
</div>
</footer>